<div class="body_line"></div>
<div class="body_line_right"></div>
<div class="body_line_left hidden-sm hidden-md hidden-lg"></div>
<div class="pin_button hidden-xs">
    <p class="button_text">pin</p>
</div>

<div class="burger-button hidden-xs">
    <i class="fa fa-bars"></i>
</div>

<div class="header-wrap">
    <h3 class="site-title"><a href="/">{{ site_title }}</a></h3>

    <!-- NAV MENU -->
    <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu">
            <ul>
                <!-- start menu -->
                    {{ menu }}
                <!-- end menu -->
            </ul>
        </div>
    </nav>
    <!-- NAV MENU -->
</div>
<div class="idevelop-icon-nav hidden-sm hidden-md hidden-lg">
    <span></span>
    <span></span>
    <span></span>
</div>