$main_color : #17AA1C ;

body{
  background: white;
  color:#000000;
}

////////////////////////////////////////////////////////////////////////////////////////////////
//scrollbar style
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightgray;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
////////////////////////////////////////////////////////////////////////////////////////////////
// typesit javascript plugin
@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

#changing-text {
  &:after {
    content: " ";
    display: inline-block;
    height: 30px;
    position: relative;
    top: 4px;
    margin-left: 3px;
    margin-right: 7px;
    width: 2px;
    background: $main_color;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
  }
}


.selectedText {
  background-color: black;
  color:white;
}

em.selectedText {
  font-style: normal;
}

////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////
// general styles
#nprogress .bar {
  background: $main_color;
}
#nprogress .spinner-icon {
  border-top-color:  $main_color ;
  border-left-color: $main_color ;
}

.burger-button{
  position: fixed;
  top: 48px;
  left: 12px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  z-index: 3;
  display: none;

  .fa{
    color: white;
    font-size: 28px;
  }
}

.pin_button{
  position: absolute;
  top:15px;
  left:210px;
  z-index: 999;
  transition: .5s all ease;

  p{
    margin: 0;
    padding: 3px 15px;
    border: 1px solid gray;
    border-radius: 13px;
    margin-left: 17px;
    cursor: pointer;
    opacity: 0.7;
    background-color: #78909C;
    color: white;
  }
}

.pin_button_margin-left-light{
  left:60px !important;
}

.body_line{
  height:5px;
  background-color: $main_color;
  width:0;
  position:fixed;
  left:0;
  z-index: 999;
}

.body_line_right{
  position: fixed;
  right:0;
  top: 0;
  height:0;
  background-color: $main_color;
  width:5px;
  z-index: 999;
}

.body_line_left{
  position: fixed;
  left:0;
  top: 0;
  height:0;
  background-color: $main_color;
  width:5px;
  z-index: 999;
}



.header-wrap-light-margin{
  width:50px !important;
}

.make_display_none{
  display: none !important;
}

// header styles
.header-wrap{
  width: 208px;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #78909C;
  box-shadow: 0px 5px 5px 0px #888888;
  transition: .5s all ease ;

  .site-title{
    font-weight: 600;
    color:$main_color;
    padding:20px;
    font-family: serif;
    margin-bottom:0px;
    transition: .4s all ease ;
    background-color: #78909C;
    border-bottom: .5px solid lightgray;

    a{
      text-decoration: none !important;
      color:white;
    }
    &:hover{
      background-color:$main_color ;
      color: #ffffff;
      span{
        color:#c0c0c0;
      }
      a{
        color: #ffffff;
      }
    }
    span{
      color:$main_color;
    }
  }
  ul{
    transition: .8s all ease ;

    li{
      padding: 10px 20px;
      font-family: sans-serif;
      a{
        color: white;
        text-decoration: none;
        transition: .09s all ease;
        font-weight: 600;
        font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
        display: block;
        &:hover{
          margin-left: 2px;
        }

      }
      
      &:hover{
        border-right: 5px solid $main_color;
        border-left: 5px solid $main_color;
        padding: 10px 20px 10px 15px;
        background: #FAFCFC;
        a{
          color: $main_color;
        }
      }
      &.active{
        border-left: 5px solid $main_color;
        padding: 10px 20px 10px 15px;
        background: #FAFCFC;
        color:$main_color;
        font-family: roboto;
        font-weight: 600;
        a{
          color: $main_color;
        }
      }
    }
    &:last-child{
    }
  }
}

.posts_inner_row{
  display: table;
  .idevelop-col{
    margin-bottom:30px;
    display: table-cell;
  }
}

.idevelop-icon-nav{
  position: absolute;
  top: 40px;
  left: 20px;
  width: 38px;
  height: 28px;
  z-index: 5;
  display: none;

  span{
    width: 30px;
    height: 2px;
    background-color: $main_color;
    display: block;
    margin-bottom: 6px;
    margin-top: 4px;
    margin-left: 3px;
  }
}


//content styles

.site-content-light-margin{
  margin-left: 50px !important;
}

.site-content{
  @extend .container-fluid ;
    min-height: 100vh;
    margin-left:208px;
    padding:20px;
    background-color: white;
    transition: .5s all ease ;

  .main_posts{
    text-align: center;
    vertical-align: middle;

    h1, h2, h3, h4, h5, h6{
      margin:0;
    }
    h2:nth-child(1n+0){
      color: gray;
      font-weight: 600;
      font-size: 20px;
      font-family: serif;
    }
    h2:nth-child(2n+0){
      color: gray;
      font-weight: 400;
      font-size: 19px;
      font-family: serif;
      line-height: 25px;
      span{
        font-size: 19px;
        color:$main_color ;
      }
      .header-logo{
        font-size: 23px;
        line-height: 30px;
        color: lightslategray;
      }
    }
  }

  .posts-section{
    background: #f5f5f5;
    border-radius: 5px;
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
    padding:30px 20px 20px 20px;

    .post-column{
      background-color: white;
      padding:20px;
      position: relative;
      border-radius: 50px 1px;
      margin-bottom: 30px;
      transition: .5s all ease;
      border: 1px solid #f2f7f6;

      &:hover{
        border : 2px solid white ;
        box-shadow:3px 3px 3px lightgray ;
        border-radius: 1px 50px !important;
        h3{
          a{
            color:white !important;
          }
        }
        p{
          color:white;
        }
        .post-cat{
          border:1px solid white;
          top : -15px ;
        }
      }
      h3{
        a{
          display: block;
          color: $main_color;
          font-family: sans-serif;
          text-decoration: none;
          font-size: 18px;
          font-weight: 400;
          line-height: 1.3;
        }
      }

      p{
        margin:10px 0 ;
      }

      &:nth-child(2n+0) {
        border-radius: 2px 50px ;
      }

      .post-cat{
        width: 120px;
        height: 30px;
        position: absolute;
        color: white;
        vertical-align: middle;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 2px 50px ;
        top: -2px;
        left: 50%;
        line-height: 30px;
        font-size: 14px;

        a{
          text-decoration: none;
        }
      }
    }
  }

  .loader{
    background-color: #F3F3F3;
    padding-bottom: 20px;
    display: none;
  }
}

.single_post_data{

  min-height: 100vh;
  background-color: lightgray;
  padding: 0;
  width:100%;

  .header-banner-section{
    height:100px;
    vertical-align: middle;
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;

    .post-title{
      position: relative;
      text-align:center;
      line-height: 0;
      vertical-align: middle;
      margin: 0 auto;
      display: table-cell;
      width: 100%;

      h3{
        padding: 10px;
        margin:0;
        line-height: 1.4;
        color: white;
        font-family: serif;
      }
    }

    .arrow-back{
      position: absolute;
      bottom: -30px;
      left: 20px;
      font-size: 25px;
      z-index: 1;

      i{
        color:white
      }
      a:hover ,a:focus,a:active{
        color:lightcyan;
      }
    }
  }

  .likes-section{
    height: 35px;
    background-color: lightslategrey;
    font-size: 20px;
    text-align: center;

    span{
      font-family: serif;
      font-weight: 600;
      font-size: 18px;
      color: #ffffff;
    }
    .likes_button{
      cursor: pointer;
      font-size: 20px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-left: 3px;
      margin-right: 3px;
      color: gray;
      background-color: #ffffff;
      text-align: center;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      line-height: 1.5;
      position: relative;
      top:2px;
    }

    .post-date{
      display: inline;
      float: right;
      padding-right: 10px;
      padding-top: 5px;
      font-size: 18px;
      color:white;
    }
  }

  .post-content{
    min-height: 100vh;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.no-padding{
  padding: 0;
}

//single
.single-title{
  color: #78909C;
  border-bottom: 2px solid #78909C;
  border-top: 2px solid #78909C;
  height: 100%;
  font-weight: 600;
  font-family: serif;
}

.nav-li{
  a{
    height: 100%;
  }
}

.nav-like-section{
  height: 50px;
  background-color: #FAFAFA;
  width: 100%;
  position: fixed;
  top: 50px;
  border-bottom: 1px solid lightgray;
  z-index: 3;
  .breadcrumb{
    margin-bottom: 5px;
    margin-top:8px;
    background-color: #FAFAFA;

    li{
      a{
        color: grey;font-weight: 600;
        text-decoration: none;
      }
    }
  }

  p{
    margin:10px 0;
    color: grey;
    font-size: 18px;
    font-family: serif;
    button{
      width: 90px;
    }
  }
}

.wrapper-single-page{
  min-height: 100%;
  background-color: #f3f3f3;
  position: absolute;
  top: 102px;
  width:100%;

  .container{
    background-color: white;
    min-height: 100vh;
    z-index: 1;

    .post-title-section{
      h1{
        color: #777777;
        margin: 0;
        padding: 15px;
        background-color: #efecec;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
        font-family: serif;
      }
    }

    .post-content-single{
      @extend .col-sm-8 ;
      min-height: 100vh;
      background-color: #f8f8f8;

      .image-center-post{
        width:100%;
        height:300px;
      }
      
      iframe{
        width:100%;
        height: 350px;
        margin-top: 10px;
      }

      .image-thumbnail-single{
        margin-top:10px;
        width: 100%;
        max-height: 300px;
      }

      h1,h2,h3,h4,h5,h6{
        margin: 25px 0 15px 0;
        color: cadetblue;
        border-bottom: 1px solid gray;
        padding: 12px 0 12px 8px;
        border-top: 1px solid gray;
        border-left: 1px solid lightgray;
      }
      .two-images-single{
        width:50%;
        height:auto;
        padding-left: 0;
        padding-right: 4px;
      }

      img{
        margin-bottom: 10px;
      }

    }

    .sidebar{
      min-height: 100vh;
      background-color: aliceblue;
    }
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 400px){
  .btn-like-dislike{
    display: none;
  }

  .nav-like-section {
      button {
        width: auto !important;
      }
  }
}

@media (max-width: 767px){
  .header-wrap{
    display: none;
  }
  .site-content{
    margin-left: 0 !important;
    background-color: aliceblue;
  }

  .likes_button{
    float: left;
    left: 15px;
  }

  .post-date{
    position: relative;
    right: 15px;
    top:3px;
  }

  .arrow-back{
    position: relative;
    bottom: 5px !important;
  }

  .post-content{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .nav-like-section{
    .col-xs-6{
      padding-right: 0;
      padding-left: 0;
    }
    .breadcrumb{
      padding: 8px 0px;
    }
  }

  .single_post_page{
    .nav-li{
      a{
        border: none !important;
        border-bottom: 1px solid white !important;
      }
    }
  }

}

@media (min-width: 767px){
  .nav-like-section{
    .col-xs-6{
      padding-right: 0;
      padding-left: 0;
    }
  }
}